@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

.title {
  font-size: 48px;
  font-family: Playfair Display;
  color: black;
}

.paragraph-div {
  display: flex;
  margin-left: 2vw;
  margin-top: -4vh;
  margin-bottom: 4vh;
}

.svg-paragraph{
  margin-top: 2vh;
  margin-right: 0.5vw;
}

.svg-img{
  width: 1.3vw;
  height: 1.3vh;
}

.paragraph-cake {
  font-size: 18px;
  width: 47rem;  

  color: #4f4f4f;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
}

.img-cake {
  width: 70vw;
  height: 30vw;
}

@media (max-width: 700px) {

.title {
  font-size: 6vw;
  font-family: Playfair Display;
  color: black;
}

.paragraph-div {
  display: flex;
  width: 96vw;  
  margin-left: 0vw;
  margin-top: -3vh;
  margin-bottom: 1vh;
}

.svg-paragraph{
  margin-top: 1.5vh;
  margin-right: 1vw;
}

.svg-img{
  width: 2.3vw;
  height: 2.3vh;
}

.paragraph-cake {
  font-size: 16px;
  color: #4f4f4f;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
}

.img-cake {
  width: 96vw;
height: 13rem;
}

}
